<h1>{{ title }}</h1>
<p>{{ body }}</p>

<hr>
<div>
  <h2 class="text-error">Contact</h2>
</div>

<div class="info" (click)="doExperiment()">
  <h3>
    For general information about gov.org
  </h3>
  <p>
    call our Central Offices in:
  </p>
  <p>
    <strong> Canberra (02) 0000 5555 
      <br> Melbourne (03) 1111 3333 
      <br> Sydney (02) 2222 7777 
    </strong>
  </p>
</div>

<br>

<div class="info2" >
  <h3>
    For more information about programming and designy the creator man of this website
  </h3>
  <p>
    check on the webside:
  </p>
  <p>
    <strong> <a href="https://github.com/ClaudePlos" target="_blank">http -> github.com/ClaudePlos</a>
      <br> <a href="https://twitter.com/claude_plos" target="_blank">http -> twitter.com/claude_plos</a>  
      <br> <a href="http://klaudsys.za.pl/loga.html" target="_blank">http -> klaudsys.za.pl</a> 
      <br> <a href="http://stackoverflow.com/users/7001529/klaudiusz-skowronski?tab=profile" target="_blank">http -> stackoverflow.com</a>
      <br> <a href="https://www.instagram.com/klaudiuszskowronski/" target="_blank">http -> instagram</a>
    </strong>
  </p>
</div>


