#header {
  height: 64px;
  background: #fff;
  position: fixed;
  header: 0;
  left: 0;
  width: 100%;
}

#header h1#logo {
  float: left;
  margin: 0;
}

#header h1#logo a {
  background: url(../images/logoGovOrg.png) no-repeat top left;
  width: 210px;
  height: 48px;
  margin: 8px;
  display: block;
  text-indent: -9999px;
}

#header .router-link-active {
  color: #D81434;
}

#header .color {
  display: block;
  height: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
}

#header #menu {float:left;padding:17px 40px 0 0;}

#container {padding:100px 20px 20px 20px;}

.color {
  background-color: rgba(15, 20, 20, 0.9) !important;
}

.shadow {
  background: url(../images/top-shadow.png) repeat-x;
  height: 35px;
  position: fixed;
  top: 68px;
  width: 100%;
}



.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #D81434;
  border: none;
  color: #FFAA44;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  color: #FFFFFF;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}


/* chatbot*/

